.grade {
  margin-left: 10px;
}
.teacher{
  

  position: absolute;
  top:100px;
  left: 250px;
  
  right: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.mainteacherlist{
  
  text-align: center;
  justify-content: center;
  display: flex;
 padding-top: 50px;
 padding-left: 200px;
  background-color: 	#e6e7e8;
  padding-bottom:70px;
  
  
}

.subteacherlistt{

  display: flex;
  justify-content: center;
  height: 700px;
  width: 900px;
  box-shadow: 11px 12px 13px rgb(32, 28, 32);
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 90px;
  background-color: white;
}
.teacherlist{
  color: rgb(168, 127, 255);
}