.studentdashboad {
  background-color: #87cefa;
}

.cardstudent {
  margin-top: 50px;
  margin-left: 600px;
  color: black;
  text-align: center;
}

.enrollsubject {
  margin-top: 20px;
  margin-left: 600px;
}
