:root {
  --primary-orange: white;
  --primary-dark: white;
}

.Home {
  position: relative;
  background-size: cover;
  height: 650px;
  margin-top: 100px;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 20;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Copperplate", sans-serif;
}

.main-info {
  color: white;
  text-transform: uppercase;
  font-size: 300%;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-orange);
}

.pri {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.homeimg {
  animation: mymove 5s infinite;
  animation-delay: 2s;
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.missiontext {
  position: absolute;
  top: 122%;

  color: white;
  text-align: center;
  font-family: "Copperplate", sans-serif;
  z-index: 12px;
}

.admin {
  color: #3f00ff;
  text-align: center;
}
.stafftext {
  font-family: "adobe-garamond-pro", Georgia, serif;
  color: white;
  text-align: center;
}
.about {
  text-align: center;
  font-family: "adobe-garamond-pro", Georgia, serif;
  color: white;
  margin-right: 900px;
}

.scllogo {
  text-align: center;
}

/* .contact{
  background: #004990;
} */

.contact h2 {
  font-family: "adobe-garamond-pro", Georgia, serif;
  margin-left: 1000px;
  margin-top: -160px;
  color: white;
}
.contact table {
  text-align: left;
  margin-left: 1000px;
  font-family: "adobe-garamond-pro", Georgia, serif;
  color: white;
}
.footer {
  background-color: #929292;
  opacity: 0.9;
}
