.navbar {
  float: left;
  overflow: hidden;
  height: 80px;
  /* display: flex; */
  background-color: transparent;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  font-size: 1.3rem;
  /* border-bottom: 1px solid rgb(251, 247, 247);  */
  z-index: 1;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background: transparent;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  padding-top: 10px;
  margin-top: 100px;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;

  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #4169e1;
}

.nav-menu-items {
  width: 100%;
}

span {
  margin-left: 16px;
}
.nav-item {
  margin-left: 1020px;
}
.nav-item1 {
  margin-left: 20px;
}
.nav-item2 {
  margin-left: 1200px;
}

.nav-item {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #777372;
  font-family: sans-serif;
  background-color: white;
  border: none;
  border-radius: 15px;
}

.nav-item1 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #777372;
  font-family: sans-serif;
  background-color: white;
  border: none;
  border-radius: 15px;
}

.nav-item2 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #777372;
  font-family: sans-serif;
  background-color: white;
  border: none;
  border-radius: 15px;
}

.home-icon {
  width: 1500;
  height: 1000;
  z-index: 1;
}

.nav_teacher {
  /* display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px; */

  text-decoration: none;
  color: #31117a;
  font-size: 18px;

  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
