@import url("https://cdn.syncfusion.com/ej2/material.css");
.admindashboad {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  right: 400px;
  bottom: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Copperplate", sans-serif;
}

.Home {
  position: relative;
  background-size: cover;
  height: 650px;
  margin-top: 100px;
}

.card1 {
  text-align: center;

  margin-top: -400px;
}

.card2 {
  text-align: center;
  margin-top: -400px;
}
.adminDetails {
  margin-top: 200px;
  z-index: 1;
  margin-left: 1350px;
  background: transparent;
}

.adminImage {
  z-index: 1;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 30px;
}
.AdminDetail {
  margin-top: 50px;
}

.admincalneder {
  height: 200px;
  width: 300px;
  margin-top: -200px;
  margin-right: 50px;
}
