.sub_contain {
  margin-top: 100px;
}
.option {
  text-align: center;
}
.correctAnswer {
  color: green;
}
.wrongAnswer {
  color: red;
}
.site-drawer-render-in-current-wrapper {
  position: relative;
  height: 200px;
  padding: 48px;
  overflow: hidden;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
.quizname {
  margin-top: 20px;
}
.docname {
  margin-top: 20px;
}
.quizView {
  margin-top: 50px;
}
.back {
  color: rgb(104, 103, 192);
}
